:root {
  --primary-color:#040304;
  --secondary-color: #D5A310;
  --text-color: #ffffff
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

li {
  list-style: none;
}

.secondary-text {
  color: var(--secondary-color);
}

/* Hero Section */
.hero-section {
  background: url('./images/hero-bg.png');
  padding: 0.5rem 6.25rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 2.5rem;
  padding: 0.625rem 0.75rem;
  border-radius: 10px;
  font-size: 1rem;
}

.nav-list li{
  padding: 0.5rem;
}

.btn {
  padding: 1rem;
  color: var(--text-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
}

.btn-primary {
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
}

/* Hero Content */
.hero-content {
  margin:5rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 50%;
}

.hero-content h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 6.5rem;
}

.hero-content p {
  font-size: 1.25rem;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

/* Hero Rectangle */
.hero-rectangle {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 2.5rem 6.25rem;
  border-radius: 30px;
  margin: 2.5rem 0rem;
}

.rectangle-content {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
}

.rectangle-content h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.rectangle-content p {
  font-size: 1.5rem;
}

/* About Section */
.about-us {
  padding: 6.25rem;
}

.about-us h4 {
  margin-bottom: 2rem;
}

.about-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.about-heading h1, .about-heading p {
  width: 30%;
}

.about-content {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 1fr;

}

.about-content p {
  background-color: var(--secondary-color);
  border-radius: 20px;
  color: #000000;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
}

.about-content img {
  border-radius: 20px;
}

.about-content img:last-child {
  grid-column: 1/-1;
  width: 100%;
}